/* add css module styles here (optional) */

.button {
  font-weight: 100;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-block;
  text-transform: uppercase;
  box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.57);
}

.button:hover {
  box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease-in-out 0s;
}

.border--dark {
  border: 1px solid #555555;
}

.half--dark {
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
}

.border--light {
  border: 1px solid #eeefef;
}

.half--light {
  border-top: 1px solid #eeefef;
  border-bottom: 1px solid #eeefef;
}

.round {
  border-radius: 40px;
}

.square {
  border-radius: 2px;
}
.jump {
  transition: all 0.2s ease-in-out;
}
.jump:hover {
  transform: translateY(-5px);
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
.stretch {
  transition: all 0.2s ease-in-out;
}
.stretch:hover {
  letter-spacing: 3px;
  font-weight: 600;
}

.small {
  padding: 0.2rem 0.3rem;
  font-size: 12px;
}

.medium {
  padding: 0.25rem 0.5rem;
  font-size: 16px;
}

.large {
  padding: 0.5rem 0.7rem;
  font-size: 20px;
}

.outline {
  background-color: transparent;
}
